extends ../layouts/layout

block content
  .container__home
    h1 Register for Floworky...
    form.form__login(method='post')
      .form--group.email-container
        label.col-sm-2.form__label(for='email') Email:
        br
        input.form__input--home(type='email', name='email', id='email', placeholder=email? email: 'Email')
        .help-block.form__login--addendum.hidden Please enter a valid email address

      .form--group
        label.col-sm-2.form__label(for='password') Password:
        br
        input.form__input--home(type='password', name='password', id='password', placeholder='Password')

      .form--group
        button.btn.btn__home.btn--large.btn--wide(type='submit') Sign Up
